# Dependency directories
node_modules/

# Build output
dist/

# Environment files
.env

# System & IDE settings
.vscode/
.settings/

# Caches & coverage
.cache/
coverage/

# Logs and temp files
*.log
*.tmp
